.full-page {
  width: 100vw;
}

.hotel-description {
  background-color: #f5f9ff;
  padding: 10px 20px;

  .description-start {
    font-size: 16px;
    font-weight: 700;
  }

  .description-container {
    position: relative;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: #757575;
    overflow: hidden; /* Запобігає виходу тексту за межі контейнера */

    .description-main {
      font-size: 12px;
      position: relative;
      color: #757575;
      background: linear-gradient(
        180deg,
        rgba(117, 117, 117, 1) 98%,
        rgba(117, 117, 117, 0.3) 99%,
        rgba(117, 117, 117, 0) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    .text-fade {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3em; /* приблизно 3 рядки */
      background: linear-gradient(transparent, #f5f9ff);
      pointer-events: none; /* запобігає взаємодії з елементом */
    }
  }

  .description-end {
    margin-bottom: 15px;
    line-height: 14px;
    font-size: 14px;
    font-weight: 700;
    color: #3d99ee;
  }
}

.hotel-img-wrapper {
  position: relative;

  .int-ext {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: white;
    padding: 0px 10px;
    border-radius: 15px;

    .int-ext-divider {
      width: 1px;
      height: 20px;
      background-color: #cccccc;
      margin: 0 10px;
    }

    .int-ext-button {
      background: none;
      border: none;
      color: black;
      font-size: 16px;
      line-height: 30px;
      cursor: pointer;
    }

    .test {
      color: blue;
    }
  }

  .hotel-img {
    width: 100vw;
    height: auto;
  }
}

.hotel {
  padding: 10px;

  .hotel-row-wrapper {
    display: flex;
    justify-content: space-between;

    .hotel-info {
      .hotel-name {
        font-weight: 600;
        font-size: 26px;
      }

      .hotel-adress {
        margin-top: 3px;
        color: grey;
        font-size: 14px;
      }

      .hotel-rating-wrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;

        .star-icon {
          width: 11px;
          height: 11px;
          margin-right: 4px;
        }

        .hotel-rating {
          background-color: #f28f3b;
          color: white;
          font-size: 8px;
          height: 15px;
          width: 39px;
          border-radius: 10px;
          line-height: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .hotel-price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .hotel-offer {
        font-size: 12px;
        color: #1e91b6;
        font-weight: 500;
      }

      .hotel-current-price {
        color: #1e91b6;
        font-size: 24px;
        font-weight: 700;
      }

      .hotel-previous-price {
        font-size: 12px;
        font-weight: 500;
        text-decoration: line-through;
        color: #5e5e5e;
      }

      .hotel-price-fees {
        font-size: 10px;
        font-weight: 500;
        color: #5e5e5e;
      }
    }
  }

  .hotel-options {
    display: flex;
    gap: 10px;
    margin-top: 10px;

    .block-w-dates {
      display: flex;
      align-items: center;
      width: 100%;
      height: 40px;
      padding: 7px;
      background-color: #f6f6f6;
      border-radius: 4px;
      border: 1px solid #d7d2d2;
      box-sizing: border-box;
      box-shadow: 0px 1.62px 1.62px -0.81px rgba(24, 39, 75, 0.08);
      gap: 10px;

      .calendar-logo,
      .usericon {
        width: 26px;
        height: 26px;
      }

      .wrapper-of-text {
        .text-inside-box {
          font-size: 10px;
          width: 100%;
        }

        .text-inside-box-two {
          color: #3d99ee;
          font-size: 10px;
          width: 100%;
        }
      }
    }
  }
}

.description-image {
  position: relative;

  .description-map {
    /* display: flex; */
    /* justify-content: center; */
    border-radius: 20px;
    width: 100%;
    height: auto;
  }
  .gradient-button {
    position: absolute;
    width: calc(100% - 40px);
    left: 50%;
    bottom: 8px;
    transform: translate(-50%, -8%);
    /* background-color: #4caf50; Колір кнопки */
    background: linear-gradient(90deg, #5435ff 0%, #36c8f6 58%, #a0fbcd 100%);
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 8px;
  }
}
