@media only screen and (max-width: 600px) {
  .hotel {
    padding: 10px;

    .hotel-info {
      .hotel-name {
        font-weight: 600;
        font-size: 26px;
      }

      .hotel-adress {
        margin-top: 3px;
        color: grey;
        font-size: 14px;
      }

      .hotel-rating-wrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;

        .star-icon {
          width: 11px;
          height: 11px;
          margin-right: 4px;
        }

        .hotel-rating {
          background-color: #f28f3b;
          color: white;
          font-size: 8px;
          height: 15px;
          width: 39px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
